<div class="col col-md-3">
                <div class="card" style="width: 18rem;">
                    <%= image_tag(shop.images.second.variant(resize: '200x200')) %>
                    <div class="card-body">
                      <h5 class="card-title"><%= shop.name%></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="<%= shop_path(shop)%>" class="btn btn-primary">Ir A la tienda</a>
                    </div>
                  </div>
                </div>